.createcustomer-container{
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    background-color: paleturquoise;
}

body{
  background-color: paleturquoise
}