.withdraw-container{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 150px;
}

.createcustomer-container{
    background-color: paleturquoise;
}